#main {
    -fx-background-image: url('skin.png');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.text-area *.content {
    -fx-background-color: rgba(32, 32, 32, 1);
	-fx-border-color: rgba(32, 32, 32, 1);
}

.combo-box .list-view .list-cell {
    -fx-text-fill: rgba(255, 192, 0, 1);
    -fx-background-color: black;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: rgba(0, 255, 64, 1);
    -fx-background-color: rgba(32, 32, 32, 1);
}

.combo-box .cell:selected {
    -fx-text-fill: rgba(0, 192, 255, 1);
}

.check-box .box {
    -fx-background-color: black;
    -fx-border-color: rgba(0, 192, 255, 1);
    -fx-border-radius: 2px;
}

.check-box:selected .mark {
    -fx-background-color: rgba(0, 255, 64, 1);
}

.check-box:selected .box {
    -fx-background-color: black;
}

.scroll-pane {
    -fx-background-color: black;
}

.list-cell:even {
    -fx-text-fill: rgba(0, 192, 255, 1);
    -fx-background-color: rgba(32, 32, 32, 1);
}

.list-cell:odd {
    -fx-text-fill: rgba(0, 192, 255, 1);
    -fx-background-color: rgba(32, 32, 32, 1);
}

.list-cell:filled:hover {
    -fx-text-fill: rgba(0, 255, 64, 1);
    -fx-background-color: rgba(24, 24, 24, 1);
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color:transparent;
}

.increment-button,
.decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(32, 32, 32, 1);
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}